ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
p {
  margin-top: auto;
  margin-bottom: auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-brand: #2196f3;
  --color-primary: #212121;
  --color-secondary: #757575;
  --color-primary-light: #ffffff;
  --font-family-brand: "Raleway", sans-serif;
  --font-family-primary: "Roboto", sans-serif;
  --color-sprite1: #afb1b8;
  --color-icon: #f5f4fa;
  --color-mark-active: #188ce8;
}

body {
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: 400;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: var(--color-primary-light);
}
.header-section {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
}
.header-logo {
  color: black;
  font-family: var(--font-family-brand);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.78px;
  margin-right: 94px;
}
.header-logo .accent {
  color: var(--color-brand);
}
.header-link {
  position: relative;
  color: var(--color-primary);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.28px;
  padding: 32px 0px;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-brand);
  border-radius: 4px;
  margin-bottom: -1px;
}
.header-link:hover,
.header-link.current {
  color: var(--color-brand);
  padding: 32px 0px;
}
nav {
  display: flex;
  align-items: center;
}
.nav-header {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  margin: 0;
  list-style: none;
}

.nav-header-contacts {
  display: flex;
  gap: 40px;
  margin-left: auto;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.contact-link {
  color: var(--color-secondary);
  font-weight: 500;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link-icon-mail {
  fill: var(--color-sprite1);
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link-icon-phone {
  fill: var(--color-sprite1);
  width: 10px;
  height: 12px;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:hover svg,
.contact-link:focus,
.contact-link:focus svg {
  color: var(--color-brand);
  fill: var(--color-brand);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0px;
  margin: auto;
}
.footer-box {
  display: flex;
  align-items: baseline;
}
.footer address {
  font-style: normal;
}
.footer-li {
  margin-bottom: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-li:last-child {
  margin-bottom: 0;
}
.footer-li .contact-link:hover,
.footer-li .contact-link:focus {
  color: var(--color-primary-light);
}
.footer-logo {
  color: var(--color-primary-light);
  font-family: var(--font-family-brand);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
  display: block;
}
.footer-logo .accent {
  color: var(--color-brand);
}
.contact-adress {
  color: var(--color-primary-light);
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}
.footer .contact-link {
  color: rgba(255, 255, 255, 0.6);
}
.join {
  margin-left: 80px;
}
.join p {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  color: var(--color-primary-light);
  margin-bottom: 20px;
}
.join ul {
  display: flex;
  gap: 10px;
}

.join a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join svg {
  width: 20px;
  height: 20px;
  fill: var(--color-primary-light);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join a:hover,
.join a:focus {
  background-color: var(--color-brand);
}

.tg-form {
  margin-left: auto;
  margin-right: 0;
  padding-right: 0;
}
.tg-form p {
  color: var(--color-primary-light);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  margin-bottom: 20px;
}
.form-box-tg {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.tg-email {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  padding: 15px 16px;

  color: var(--color-primary-light);
}
.tg-form button {
  width: 200px;
  height: 50px;
  margin-left: 12px;

  border: none;

  border-radius: 4px;
  background: var(--color-brand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: var(--color-primary-light);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.tg-form svg {
  width: 24px;
  height: 24px;
  fill: var(--color-primary-light);
}

.main {
  background-color: var(--color-primary-light);
}
.section-first {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bg.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  display: flex;
  margin: auto;
}
.section-first h1 {
  color: var(--color-primary-light);
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  max-width: 696px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}
.first-button {
  background-color: var(--color-brand);
  color: var(--color-primary-light);
  cursor: pointer;

  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  padding: 10px 32px;
  display: flex;
  justify-content: center;
  margin: auto;
  border: none;
}
.first-button:hover,
.first-button:active {
  background-color: var(--color-mark-active);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;

  z-index: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  width: 528px;
  height: 581px;
  padding: 40px;

  background: var(--color-primary-light);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  position: fixed;
  top: 8px;
  right: 8px;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: var(--color-primary-light);

  border: 1px solid #0000001a;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal svg {
  width: 18px;
  height: 18px;
}
.modal-button:focus,
.modal-button:hover {
  fill: var(--color-brand);
}

.modal-form {
  width: 448px;
}
.modal h2 {
  color: var(--color-primary);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin: 0 0 12px 0;
}
.form-box {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  color: var(--color-secondary);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  align-items: flex-start;
}
.input-field {
  position: relative;
  margin-top: 4px;
}
.input-field input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-field svg {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 12px;
  left: 12px;
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-box {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  color: var(--color-primary);
  font-size: 14px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field input:hover,
.input-field input:focus,
.comment-box:hover,
.comment-box:focus {
  border-color: var(--color-brand);
  cursor: pointer;
}
.input-field input:hover + svg,
.input-field input:focus + svg {
  fill: var(--color-brand);
}

.form-license {
  color: var(--color-secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.42px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 0;
}
.licence-mark {
  width: 16px;
  height: 15px;
  margin: 0;
  padding: 0;

  border: 2px solid var(--color-primary);
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.licence-mark svg {
  fill: var(--color-primary);

  margin: 0;
  padding: 0;
  opacity: 0;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .licence-mark svg {
  opacity: 1;
}
.checkbox:checked + .licence-mark {
  border: var(--color-brand);
}
.checkbox:focus + .licence-mark {
  border-color: var(--color-brand);
}

.licence-mark:hover,
.licence-mark:focus,
.licence-mark:active {
  border-color: var(--color-brand);
}
.licence-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.42px;
}
.licence-link {
  color: var(--color-brand);

  text-decoration-line: underline;
}

.submit-btn {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;

  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--color-brand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;

  margin: 0px auto 40px;
}
.submit-btn:hover,
.submit-btn:active,
.submit-btn:focus {
  background-color: var(--color-mark-active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-second {
  padding-top: 94px;
  padding-bottom: 47px;
}
.section-second ul {
  display: inline-flex;
  gap: 30px;
}
.section-second li {
  max-width: 270px;
}
.section-second h3 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.section-second p {
  color: var(--color-secondary);
  line-height: 1.7;
  font-size: 14px;
  letter-spacing: 0.42px;
  margin-top: 0;
  margin-bottom: 0;
}
.sprite-bg {
  background-color: var(--color-icon);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sprite-icon {
  width: 70px;
  height: 70px;
}

.section-third {
  padding-bottom: 94px;
  padding-top: 47px;
  margin-top: 0;
  margin-bottom: 0;
}
.section-third h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-top: 0;
  margin-bottom: 50px;
}
.section-third ul {
  display: flex;
  margin-top: 0;
  gap: 30px;
  margin-bottom: 0;
}
.thumb {
  position: relative;
  overflow: hidden;
}
.thumb p {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: var(--color-primary-light);
  background: rgba(47, 48, 58, 0.8);
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--color-icon);
}
.section-team-box {
  display: flex;
  gap: 30px;
}
.section-team-list {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.section-team h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-top: 0;
  margin-bottom: 50px;
}
.section-team-text {
  padding: 30px 0;
}
.section-team h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-top: 0;
  margin-bottom: 10px;
}
.section-team p {
  text-align: center;
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  margin-top: 0;
  margin-bottom: 0;
}
.section-team-icon {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}

.section-team-icon a {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team-icon svg {
  fill: var(--color-sprite1);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-team-icon a:hover,
.section-team-icon a:focus {
  background-color: var(--color-brand);
}
.section-team-icon a:hover svg,
.section-team-icon a:focus svg {
  fill: var(--color-primary-light);
}
.partners {
  padding-top: 94px;
  padding-bottom: 94px;
}
.partners h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-top: 0;
}
.partners ul {
  display: flex;
  list-style: none;
  margin: 0 auto;
  gap: 30px;
  align-items: center;
}
.partners li {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners a {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--color-sprite1);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partners svg {
  fill: var(--color-sprite1);
  width: 106px;
  height: 60px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partners a:hover,
.partners a:hover svg,
.partners a:focus,
.partners a:focus svg {
  border-color: var(--color-brand);
  fill: var(--color-brand);
}
.section-service {
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: center;
}
.service-main-btn {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}
.service-main-btn button {
  background-color: #f5f4fa;
  color: var(--color-primary);
  border: none;
  border-radius: 4px;
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
  padding: 6px 22px;
  display: flex;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.service-main-btn button:hover,
.service-main-btn button:active,
.service-main-btn button:focus {
  background-color: var(--color-brand);
  color: var(--color-primary-light);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.services {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1170px;
  gap: 30px;
}

.services li {
  max-width: 370px;
}

.services a {
  text-decoration: none;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.services a:hover,
.services a:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.box {
  position: relative;
  overflow: hidden;
}
.overlay p {
  color: var(--color-primary-light);
  font-family: var(--font-family-primary);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: 0.54px;
}

.overlay {
  position: absolute;

  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
  transition-property: inherit;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.services a:hover .overlay {
  transform: translatey(0);
}

.services-text {
  color: var(--color-secondary);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.48px;
  padding: 20px 24px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.services h3 {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-top: 0;
  margin-bottom: 4px;
}
